* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

.container {
    display: flex;
    /*margin: 0 auto;*/
}

button {
    text-align: center;
}

.work_place {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82%;
    background: #CCC;
}

.hidden {
    display: none;
}